{
    "apps": [
        "https://www.apptrace.com/app/544007664",
        "https://www.apptrace.com/app/com.google.android.youtube"
    ],
    "token": "<Your telegram token>",
    "whitelist": [
        "Whitelist of chat_ids",
        "id2"
    ]
    "admin": [
        "admin chat_id"
    ],
    "interval": 10
}